.comment-list {
  list-style: none;
  padding: 0 0 0 10px;
  margin-top: 20px;
}

.comment-list li {
  padding-left: 10px;
  margin-bottom: 25px;
}

.author {
  display: block;
  margin-bottom: 10px;
}
